#heading {
  background: lightblue;
  border: 10px;
  border-radius: 15px;
  font-family: monospace;
  font-size: 100px;
  text-align: center;
  box-shadow: 10px 10px 25px grey;
}
.playerOrder {
  padding: 30px;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}
img {
  width: 300px;
  height: auto;
}
p {
  text-align: center;
  font-size: 40px;
  margin: auto;
}
.cardContainer {
  display:flex;
  height: 100%;
  background: lightblue;
  border-radius: 15px;
  padding: 30px;
  flex: 1;
  justify-content:space-around; 
}
.moveItem {
  box-shadow: 10px 10px 25px grey;
  padding: 10px;
  border-radius: 20px;
  background: white;
}
.moveItem:hover {
  transform: scale(1.1);
}
.button-container {
  margin-top: 20px;
  display: flex;
  flex: 1;
  justify-content: center;
  
}
.styled-button {
  width: 150px;
  height: 75px;
  color: black;
  cursor: pointer;
  background: lightpink;
  border-radius: 10px;
  font-size: 40px;
}
